<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    
  <add key="KEEP_TIME_SEC" value="100"/>
    
    <add key="QUERYSQL" value="select top 1 UserID,UserName,Department from userfile"/>
    <add key="ColumnsNanme" value="工号,姓名,部门"/>
    
    
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>